Binaries
DerivedDataCache
Intermediate
Saved
/Windows/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
DeepElderCaves
EnvironmentPack1
GothicTemple
InfinityBladeGrassLands
Megascans
IthrisCemetery
ModularGothicFantasyEnvironment
Gothic_Cathedral
FantasyBundle
ryou
MSPresets