Binaries
DerivedDataCache
Intermediate
Saved
.vscode
Windows
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
DeepElderCaves
EnvironmentPack1
GothicTemple
InfinityBladeGrassLands
Megascans
